In [1]:
import yfinance as yf
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [2]:
tickers=pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')[2]
tickers

    Symbol                      Name                  Sector
0     AAPL                     Apple  Information Technology
1     ABBV                    AbbVie             Health Care
2      ABT                    Abbott             Health Care
3      ACN                 Accenture  Information Technology
4     ADBE                     Adobe  Information Technology
..     ...                       ...                     ...
96      VZ                   Verizon  Communication Services
97     WBA  Walgreens Boots Alliance        Consumer Staples
98     WFC               Wells Fargo              Financials
99     WMT                   Walmart        Consumer Staples
100    XOM                ExxonMobil                  Energy

[101 rows x 3 columns]

In [3]:
tickers=tickers.Symbol.to_list()
tickers

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'ADBE',
 'AIG',
 'AMD',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK.B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'EXC',
 'F',
 'FDX',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KHC',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WBA',
 'WFC',
 'WMT',
 'XOM']

In [4]:
df=yf.download(tickers,start='2009-01-01')
df

[*********************100%***********************]  101 of 101 completed

1 Failed download:
- BRK.B: No data found, symbol may be delisted

             Adj Close                                                  \
                  AAPL        ABBV         ABT         ACN        ADBE
Date
2008-12-31    2.602662         NaN   18.592499   25.321211   21.290001
2009-01-02    2.767329         NaN   18.658686   26.000763   23.020000
2009-01-05    2.884122         NaN   18.338188   26.116602   23.129999
2009-01-06    2.836552         NaN   17.738993   25.792271   24.219999
2009-01-07    2.775259         NaN   17.641449   26.085718   24.230000
...                ...         ...         ...         ...         ...
2022-09-23  150.429993  143.059998  100.680000  259.980011  284.559998
2022-09-26  150.770004  141.210007   99.839996  257.540009  276.959991
2022-09-27  151.759995  141.720001   98.330002  256.339996  277.570007
2022-09-28  149.839996  144.600006   98.720001  261.929993  281.399994
2022-09-29  142.479996  142.720001   98.290001  258.269989  278.250000

                                                                      ...  \
                  AIG        AMD        AMGN         AMT        AMZN  ...
Date                                                                  ...
2008-12-31  21.207159   2.160000   43.587833   24.073799    2.564000  ...
2009-01-02  22.828096   2.380000   44.523754   24.788128    2.718000  ...
2009-01-05  22.422861   2.670000   45.021896   24.689596    2.703000  ...
2009-01-06  23.503479   2.780000   44.033154   24.820971    2.868000  ...
2009-01-07  22.152706   2.660000   43.927486   23.860315    2.810000  ...
...               ...        ...         ...         ...         ...  ...
2022-09-23  49.770000  67.959999  226.970001  228.809998  113.779999  ...
2022-09-26  48.410000  66.300003  226.869995  221.369995  115.150002  ...
2022-09-27  48.560001  67.169998  225.990005  220.600006  114.410004  ...
2022-09-28  48.770000  68.360001  230.979996  221.059998  118.010002  ...
2022-09-29  47.660000  64.139999  228.410004  213.720001  114.800003  ...

             Volume                                                   \
                UNH       UNP      UPS       USB         V        VZ
Date
2008-12-31  5584600   6556200  3977400  10742900  16371600  17429248
2009-01-02  4885900   8053600  4233200  10883600  13199200  14848985
2009-01-05  8518900  12520800  3593500  14067200  16600000  36096596
2009-01-06  7423000  13970400  4578400  16001700  32506400  28001608
2009-01-07  8228400  15205600  5222100  16651800  28441600  22727743
...             ...       ...      ...       ...       ...       ...
2022-09-23  2536000   2585500  4251800   8185100  10751800  19435300
2022-09-26  2867400   3708100  4163600  16533100   9914600  21345700
2022-09-27  2583400   5466100  3371200   9556400   9799600  20357700
2022-09-28  3027300   3284900  2958100  11278100   9751000  20567400
2022-09-29  2391300   2072400  2492400   7888900   9103000  17801800


                 WBA       WFC       WMT       XOM
Date
2008-12-31   6572600  45109700  13881900  30026400
2009-01-02   5266700  36522300  16054800  35803700
2009-01-05  11938400  43614200  16021300  43340100
2009-01-06   7691300  54222900  19146000  41906100
2009-01-07   8245300  52631000  16782000  35268800
...              ...       ...       ...       ...
2022-09-23   6091600  23302200   9062300  27730000
2022-09-26   5483400  21420000   7670400  22043400
2022-09-27   6142300  17541400   5723900  17307300
2022-09-28   6680100  16033500   5612800  19543300
2022-09-29   8230300  14809900   5077700  17888800

[3461 rows x 606 columns]

In [5]:
prices=df['Adj Close']
prices

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-31,2.602662,NaN,18.592499,25.321211,21.290001,21.207159,2.160000,43.587833,24.073799,2.564000,...,21.955933,17.905546,36.549461,17.795227,11.905282,16.415577,17.339315,20.663549,40.957504,47.770077
2009-01-02,2.767329,NaN,18.658686,26.000763,23.020000,22.828096,2.380000,44.523754,24.788128,2.718000,...,22.773090,18.778358,37.178947,17.965990,12.129997,16.773911,17.957817,21.028040,41.775784,48.853165
2009-01-05,2.884122,NaN,18.338188,26.116602,23.129999,22.422861,2.670000,45.021896,24.689596,2.703000,...,22.401655,19.497578,36.562714,17.083710,12.216253,15.727963,18.864502,19.668219,41.293598,48.847176
2009-01-06,2.836552,NaN,17.738993,25.792271,24.219999,23.503479,2.780000,44.033154,24.820971,2.868000,...,21.873396,20.231779,36.721745,16.898716,13.076517,15.476162,18.773129,19.303738,40.928295,48.051315
2009-01-07,2.775259,NaN,17.641449,26.085718,24.230000,22.152706,2.660000,43.927486,23.860315,2.810000,...,21.708307,18.639759,35.389904,16.628334,12.792791,15.672682,18.998041,18.133175,40.577606,46.824604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-23,150.429993,143.059998,100.680000,259.980011,284.559998,49.770000,67.959999,226.970001,228.809998,113.779999,...,513.609985,203.970001,164.330002,41.631886,183.960007,39.520000,32.830002,40.410000,130.059998,85.750000
2022-09-26,150.770004,141.210007,99.839996,257.540009,276.959991,48.410000,66.300003,226.869995,221.369995,115.150002,...,508.359985,200.860001,161.750000,40.584171,180.589996,38.930000,32.689999,40.009998,131.309998,83.980003
2022-09-27,151.759995,141.720001,98.330002,256.339996,277.570007,48.560001,67.169998,225.990005,220.600006,114.410004,...,508.369995,197.250000,164.770004,40.485329,177.869995,38.889999,32.430000,40.029999,130.949997,85.739998
2022-09-28,149.839996,144.600006,98.720001,261.929993,281.399994,48.770000,68.360001,230.979996,221.059998,118.010002,...,513.940002,201.830002,167.119995,40.939999,179.179993,39.389999,33.200001,40.810001,133.110001,88.860001
2022-09-29,142.479996,142.720001,98.290001,258.269989,278.250000,47.660000,64.139999,228.410004,213.720001,114.800003,...,508.829987,199.199997,165.320007,40.730000,180.059998,38.639999,31.549999,40.500000,132.250000,88.680000

In [6]:
prices.index=pd.to_datetime(prices.index)

In [7]:
mlt_ret=prices.pct_change().resample('M').agg(lambda X: (X+1).prod()-1)
mlt_ret

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2009-01-31,0.056005,0.000000,0.046310,-0.037512,-0.093001,-0.184713,0.013889,-0.050217,0.034788,0.147036,...,0.065038,-0.083891,-0.229695,-0.406637,-0.059104,-0.106012,0.111066,-0.358887,-0.159472,-0.041964
2009-02-28,-0.009098,0.000000,-0.146104,-0.075095,-0.135163,-0.671875,-0.004566,-0.107930,-0.040211,0.101496,...,-0.306389,-0.137345,-0.020516,-0.035714,0.151383,-0.044861,-0.125855,-0.347822,0.044991,-0.107713
2009-03-31,0.177024,0.000000,0.007605,-0.058239,0.280838,1.380952,0.399083,0.012058,0.044986,0.133508,...,0.066698,0.095682,0.195240,0.024038,-0.019573,0.058535,0.088013,0.176860,0.064051,0.002946
2009-04-30,0.197013,0.000000,-0.114598,0.070571,0.278635,0.380000,0.183607,-0.021203,0.043707,0.096405,...,0.123747,0.195330,0.063389,0.247091,0.168346,0.018824,0.210709,0.405196,-0.032629,-0.020998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31,-0.054496,0.003336,0.034890,-0.006326,0.051850,0.002906,0.191066,0.109836,0.062692,-0.032764,...,-0.023144,-0.056388,0.021302,0.092875,-0.002603,0.107775,0.045869,0.054784,-0.156170,0.137635
2022-06-30,-0.081430,0.039289,-0.075004,-0.069725,-0.121062,-0.123271,-0.249264,-0.052349,0.003838,-0.116459,...,0.037606,-0.029575,0.001591,-0.124252,-0.072018,-0.010528,-0.135295,-0.144199,-0.054808,-0.107917
2022-07-31,0.188634,-0.054242,0.006201,0.106967,0.120363,0.012517,0.235386,0.017139,0.059627,0.270596,...,0.055896,0.065735,0.067656,0.025641,0.077302,-0.078402,0.045382,0.119990,0.086116,0.131831
2022-08-31,-0.031208,-0.063062,-0.056872,-0.058121,-0.089437,-0.000386,-0.101620,-0.021474,-0.061958,-0.060615,...,-0.042427,-0.006719,0.005527,-0.033686,-0.061515,-0.094826,-0.104577,0.003210,0.008158,-0.004243
2022-09-30,-0.093754,0.061431,-0.042474,-0.104659,-0.254900,-0.073564,-0.244256,-0.049480,-0.158748,-0.094423,...,-0.017144,-0.112734,-0.150069,-0.096524,-0.093855,-0.075819,-0.100114,-0.073439,-0.002263,-0.072288

In [8]:
formation=dt.datetime(2009,3,31)

In [9]:
formation

datetime.datetime(2009, 3, 31, 0, 0)

In [10]:
ret_1=mlt_ret.loc[formation-MonthEnd(1)]

In [11]:
ret_1

AAPL   -0.009098
ABBV    0.000000
ABT    -0.146104
ACN    -0.075095
ADBE   -0.135163
          ...
VZ     -0.044861
WBA    -0.125855
WFC    -0.347822
WMT     0.044991
XOM    -0.107713
Name: 2009-02-28 00:00:00, Length: 101, dtype: float64

In [12]:
formation-MonthEnd(1)

Timestamp('2009-02-28 00:00:00')

In [13]:
ret_1.name='mtl_ret'

In [14]:
ret_1

AAPL   -0.009098
ABBV    0.000000
ABT    -0.146104
ACN    -0.075095
ADBE   -0.135163
          ...
VZ     -0.044861
WBA    -0.125855
WFC    -0.347822
WMT     0.044991
XOM    -0.107713
Name: mtl_ret, Length: 101, dtype: float64

In [15]:
ret_1=pd.DataFrame(ret_1)
ret_1

       mtl_ret
AAPL -0.009098
ABBV  0.000000
ABT  -0.146104
ACN  -0.075095
ADBE -0.135163
...        ...
VZ   -0.044861
WBA  -0.125855
WFC  -0.347822
WMT   0.044991
XOM  -0.107713

[101 rows x 1 columns]

In [16]:
ret_1['ranking']=pd.qcut(ret_1.mtl_ret,10,labels=False)
ret_1

       mtl_ret  ranking
AAPL -0.009098        7
ABBV  0.000000        7
ABT  -0.146104        2
ACN  -0.075095        5
ADBE -0.135163        2
...        ...      ...
VZ   -0.044861        5
WBA  -0.125855        3
WFC  -0.347822        0
WMT   0.044991        9
XOM  -0.107713        4

[101 rows x 2 columns]

In [17]:
losers=ret_1[ret_1.ranking==0].index
losers

Index(['AIG', 'AXP', 'BA', 'BAC', 'C', 'GD', 'GE', 'LMT', 'MET', 'UNH', 'WFC'], dtype='object')

In [18]:
mlt_ret.loc[formation,mlt_ret.columns.isin(losers)]

AIG    1.380952
AXP    0.130182
BA     0.131679
BAC    0.731326
C      0.686667
GD    -0.050890
GE     0.188014
LMT    0.093804
MET    0.233478
UNH    0.066698
WFC    0.176860
Name: 2009-03-31 00:00:00, dtype: float64

In [19]:
loserret=mlt_ret.loc[formation,mlt_ret.columns.isin(losers)].mean()
loserret

0.3426154967497413

In [20]:
def reversal(formation):
    ret_1=mlt_ret.loc[formation-MonthEnd(1)]
    ret_1.name='mtl_ret'
    ret_1=pd.DataFrame(ret_1)
    ret_1['ranking']=pd.qcut(ret_1.mtl_ret,10,labels=False,duplicates='drop')
    losers=ret_1[ret_1.ranking==9].index
    loserret=mlt_ret.loc[formation,mlt_ret.columns.isin(losers)].mean()
    return loserret

In [21]:
formation

datetime.datetime(2009, 3, 31, 0, 0)

In [22]:
reversal(formation)

0.11828504830139279

In [23]:
returns=[]
dates=[]
for i in mlt_ret.index[2:]:
    #print(i)
    returns.append(reversal(i))
    dates.append(i)

In [24]:
returns

[-0.053862765497524855,
 0.11828504830139279,
 0.3161656752314218,
 0.11626948062038614,
 -0.06953038737527037,
 0.0650940817911511,
 0.05083426693153864,
 0.052357819695531604,
 -0.03975832370019564,
 0.07722751512731363,
 0.06127824098369842,
 -0.10455063308878247,
 0.01296506083100991,
 0.08000872835819776,
 0.059835695336054685,
 -0.05062701824602085,
 -0.02495753581071855,
 0.0496247778234886,
 -0.0011467113034084654,
 0.10972566019396202,
 0.047635241063283276,
 -0.010261268915210753,
 0.012965518231081209,
 0.03736338378919737,
 0.0216917869558102,
 -0.0012245794369557638,
 0.027229158782146635,
 0.013256314206251918,
 -0.029398037150671165,
 -0.005759833148188576,
 -0.04151159568744611,
 -0.0033167176139449308,
 0.06853769959433201,
 -0.050172296910722405,
 0.012270623532245705,
 0.04979588125495512,
 0.0406343427559856,
 0.041787155955123126,
 -0.02094095188236572,
 -0.053482345964043054,
 0.054297415367120336,
 -0.0020115682367496833,
 0.030537044761807842,
 0.05251610394258369,
 -0.01967184267151788,
 0.0016862343193346785,
 -0.009175031688084711,
 0.13205569396899589,
 -0.007793541447007624,
 0.06290226708402075,
 0.0330991928177215,
 0.12311166809084013,
 0.015734925401660393,
 0.060164281954457624,
 0.0588022581611317,
 0.0741351003511416,
 0.028865814322071814,
 0.039047327007354346,
 0.009598527644648368,
 0.003670857119611226,
 0.08328531427575153,
 -0.04867017981748341,
 -0.01912376474695494,
 0.029741922731838753,
 0.010261502618296203,
 -0.01226176631550514,
 0.04374960550260558,
 -0.018503004054974858,
 0.02779659283458803,
 0.03340782721402813,
 -0.01984337591480878,
 -0.0553736632263155,
 0.04425180289529499,
 -0.024316417267336042,
 -0.02658562334744099,
 0.01795782308289553,
 0.0012422519706819402,
 0.015285015262145107,
 -0.045047076835466895,
 -0.00043269237174908826,
 0.11704815022019577,
 0.017444745394483208,
 0.030948966249979237,
 -0.01942789539695213,
 0.0030383192584967577,
 0.07258914452183088,
 0.043665618017986976,
 0.04345775953932972,
 -0.020253449611959573,
 0.039518472227933324,
 0.03372367125412288,
 0.004417412020558853,
 -0.009018873946060902,
 0.10336310999507074,
 0.0693253112045338,
 0.005189350059367414,
 0.02669185860435891,
 0.0049467074992382235,
 0.020708565185947582,
 0.04826286979444855,
 -0.012620712736819074,
 0.014121529750826867,
 -0.008165447633437562,
 0.0023497963237922638,
 0.040178614305410296,
 0.033891875829942374,
 0.017218754854266837,
 0.06457779531210155,
 -0.014198686356510237,
 -0.02478876384076727,
 0.005547496816882535,
 0.039331196553268666,
 0.001372330138073774,
 0.005874475322538875,
 0.06282355396029976,
 0.03914784628250005,
 -0.09626849697603397,
 0.014313811627798934,
 -0.0832868752229223,
 0.039985901652824174,
 0.024237069906230237,
 0.02015399566862852,
 0.025445735336639942,
 -0.11138111162015432,
 0.04080824363135856,
 0.02058838953326848,
 -0.024104796257432504,
 0.002708006609632896,
 0.04717778251471807,
 0.06548290989225783,
 0.02636685995421788,
 0.045301988468654505,
 -0.0761767495834279,
 -0.05252360838087591,
 0.13514200344094746,
 0.08288586118375688,
 0.03413181824424871,
 0.10247922518187406,
 0.17311943157799875,
 -0.038065396596944544,
 0.0007730686781583507,
 0.15309833400875,
 0.07291475777419398,
 0.019369883959558687,
 0.0032294051867312935,
 0.03945557515595557,
 0.01019265512445693,
 0.01789570831995625,
 -0.0016731443582430282,
 0.031256810968363156,
 0.03304505578369118,
 -0.03761686558671105,
 0.12802257478353232,
 0.05223346118486235,
 0.025097481473916872,
 -0.021761956557966134,
 0.026971942571380313,
 0.02004413741318899,
 -0.08172466699328873,
 -0.011774083092164845,
 -0.10706964566381556,
 0.039387889568917055,
 -0.038378644796175254,
 -0.07504089956549]

In [25]:
frame=pd.DataFrame({'dates':dates,'Returns':returns})
frame

         dates   Returns
0   2009-02-28 -0.053863
1   2009-03-31  0.118285
2   2009-04-30  0.316166
3   2009-05-31  0.116269
4   2009-06-30 -0.069530
..         ...       ...
159 2022-05-31 -0.011774
160 2022-06-30 -0.107070
161 2022-07-31  0.039388
162 2022-08-31 -0.038379
163 2022-09-30 -0.075041

[164 rows x 2 columns]

In [26]:
frame.Returns.mean()

0.02060673951511966

In [27]:
df2=yf.download('^OEX',start='2009-01-01')['Adj Close']#close price for S&P 500

[*********************100%***********************]  1 of 1 completed

In [28]:
df2

Date
2008-12-31     431.540009
2009-01-02     444.519989
2009-01-05     440.829987
2009-01-06     442.720001
2009-01-07     429.839996
                 ...
2022-09-23    1681.520020
2022-09-26    1667.920044
2022-09-27    1664.619995
2022-09-28    1694.109985
2022-09-29    1655.250000
Name: Adj Close, Length: 3461, dtype: float64

In [29]:
dench_ret=df2.pct_change().resample('M').agg(lambda X: (X+1).prod()-1)

In [30]:
dench_ret

Date
2008-12-31    0.000000
2009-01-31   -0.093294
2009-02-28   -0.110075
2009-03-31    0.083685
2009-04-30    0.075924
                ...
2022-05-31   -0.004235
2022-06-30   -0.078008
2022-07-31    0.092709
2022-08-31   -0.046479
2022-09-30   -0.079368
Freq: M, Name: Adj Close, Length: 166, dtype: float64

In [31]:
frame['S&P100']=dench_ret[2:].values

In [32]:
frame

         dates   Returns    S&P100
0   2009-02-28 -0.053863 -0.110075
1   2009-03-31  0.118285  0.083685
2   2009-04-30  0.316166  0.075924
3   2009-05-31  0.116269  0.053103
4   2009-06-30 -0.069530  0.004912
..         ...       ...       ...
159 2022-05-31 -0.011774 -0.004235
160 2022-06-30 -0.107070 -0.078008
161 2022-07-31  0.039388  0.092709
162 2022-08-31 -0.038379 -0.046479
163 2022-09-30 -0.075041 -0.079368

[164 rows x 3 columns]

In [33]:
frame[frame.Returns>frame['S&P100']].shape

(105, 3)

In [34]:
105/164 #64% time our model outperformed compare to Index

0.6402439024390244