In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import ta

In [2]:
df=yf.download('TSLA',start='2022-11-21',interval='15m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-11-21 09:30:00-05:00,175.850006,176.770004,173.229996,174.759995,174.759995,10001911
2022-11-21 09:45:00-05:00,174.779999,176.630005,173.836197,174.111694,174.111694,5554627
2022-11-21 10:00:00-05:00,174.125000,174.289993,173.399994,173.692398,173.692398,3833172
2022-11-21 10:15:00-05:00,173.675003,174.279999,173.009995,173.010101,173.010101,3366669
2022-11-21 10:30:00-05:00,173.050003,173.320007,171.110001,171.250000,171.250000,4565326
...,...,...,...,...,...,...
2023-01-18 15:00:00-05:00,128.565002,129.130005,128.089996,128.770004,128.770004,4743832
2023-01-18 15:15:00-05:00,128.751801,128.990005,128.500000,128.659607,128.659607,3686286
2023-01-18 15:30:00-05:00,128.649994,128.729996,127.970100,128.260101,128.260101,4357102
2023-01-18 15:45:00-05:00,128.279007,128.929993,128.100006,128.750000,128.750000,6449599
2023-01-18 16:00:00-05:00,128.779999,128.779999,128.779999,128.779999,128.779999,0

In [3]:
df['EMA200']=ta.trend.ema_indicator(df.Close,window=200)

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume,EMA200
Datetime,,,,,,,
2022-11-21 09:30:00-05:00,175.850006,176.770004,173.229996,174.759995,174.759995,10001911,NaN
2022-11-21 09:45:00-05:00,174.779999,176.630005,173.836197,174.111694,174.111694,5554627,NaN
2022-11-21 10:00:00-05:00,174.125000,174.289993,173.399994,173.692398,173.692398,3833172,NaN
2022-11-21 10:15:00-05:00,173.675003,174.279999,173.009995,173.010101,173.010101,3366669,NaN
2022-11-21 10:30:00-05:00,173.050003,173.320007,171.110001,171.250000,171.250000,4565326,NaN
...,...,...,...,...,...,...,...
2023-01-18 15:00:00-05:00,128.565002,129.130005,128.089996,128.770004,128.770004,4743832,123.370364
2023-01-18 15:15:00-05:00,128.751801,128.990005,128.500000,128.659607,128.659607,3686286,123.422994
2023-01-18 15:30:00-05:00,128.649994,128.729996,127.970100,128.260101,128.260101,4357102,123.471124
2023-01-18 15:45:00-05:00,128.279007,128.929993,128.100006,128.750000,128.750000,6449599,123.523650
2023-01-18 16:00:00-05:00,128.779999,128.779999,128.779999,128.779999,128.779999,0,123.575952

In [5]:
df[:5]

,Open,High,Low,Close,Adj Close,Volume,EMA200
Datetime,,,,,,,
2022-11-21 09:30:00-05:00,175.850006,176.770004,173.229996,174.759995,174.759995,10001911,NaN
2022-11-21 09:45:00-05:00,174.779999,176.630005,173.836197,174.111694,174.111694,5554627,NaN
2022-11-21 10:00:00-05:00,174.125000,174.289993,173.399994,173.692398,173.692398,3833172,NaN
2022-11-21 10:15:00-05:00,173.675003,174.279999,173.009995,173.010101,173.010101,3366669,NaN
2022-11-21 10:30:00-05:00,173.050003,173.320007,171.110001,171.250000,171.250000,4565326,NaN

In [6]:
df[:5].High.rolling(3,center=True).max()#2022-11-30 13:30:00-05:00	182.489899	185.300003	181.550003	184.625504	184.625504	5550655	NaN

Datetime
2022-11-21 09:30:00-05:00           NaN
2022-11-21 09:45:00-05:00    176.770004
2022-11-21 10:00:00-05:00    176.630005
2022-11-21 10:15:00-05:00    174.289993
2022-11-21 10:30:00-05:00           NaN
Name: High, dtype: float64

In [7]:
df['wf_Top_bool']=np.where(df['High']==df['High'].rolling(9,center=True).max(),True,False)

In [8]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool
Datetime,,,,,,,,
2022-11-21 09:30:00-05:00,175.850006,176.770004,173.229996,174.759995,174.759995,10001911,NaN,False
2022-11-21 09:45:00-05:00,174.779999,176.630005,173.836197,174.111694,174.111694,5554627,NaN,False
2022-11-21 10:00:00-05:00,174.125000,174.289993,173.399994,173.692398,173.692398,3833172,NaN,False
2022-11-21 10:15:00-05:00,173.675003,174.279999,173.009995,173.010101,173.010101,3366669,NaN,False
2022-11-21 10:30:00-05:00,173.050003,173.320007,171.110001,171.250000,171.250000,4565326,NaN,False
2022-11-21 10:45:00-05:00,171.210007,171.212997,170.000000,171.061493,171.061493,5631211,NaN,False
2022-11-21 11:00:00-05:00,171.050003,171.539993,170.429993,171.309998,171.309998,3366921,NaN,False
2022-11-21 11:15:00-05:00,171.319000,172.399994,171.139999,172.009995,172.009995,3152382,NaN,False
2022-11-21 11:30:00-05:00,171.967194,172.039993,170.710007,170.880005,170.880005,2439784,NaN,False
2022-11-21 11:45:00-05:00,170.869995,171.240005,170.320007,170.529999,170.529999,2320249,NaN,False
2022-11-21 12:00:00-05:00,170.500000,171.100006,170.089996,170.419998,170.419998,2252861,NaN,False
2022-11-21 12:15:00-05:00,170.423492,170.679993,168.520004,168.760101,168.760101,4769816,NaN,False
2022-11-21 12:30:00-05:00,168.789993,169.990005,168.690002,169.979996,169.979996,2428453,NaN,False
2022-11-21 12:45:00-05:00,169.945206,169.979996,168.820007,168.949905,168.949905,2315394,NaN,False
2022-11-21 13:00:00-05:00,168.919907,170.369995,168.860001,170.151199,170.151199,2381392,NaN,False
2022-11-21 13:15:00-05:00,170.134995,170.279999,169.449997,169.861206,169.861206,2307012,NaN,False
2022-11-21 13:30:00-05:00,169.861206,170.315308,169.440002,169.960007,169.960007,2097139,NaN,False
2022-11-21 13:45:00-05:00,169.963394,170.067596,168.869995,168.893906,168.893906,1903782,NaN,False
2022-11-21 14:00:00-05:00,168.899994,169.500000,168.830002,169.169998,169.169998,1686522,NaN,False
2022-11-21 14:15:00-05:00,169.175003,169.470001,168.039993,168.134995,168.134995,2564039,NaN,False
2022-11-21 14:30:00-05:00,168.134995,168.300003,167.539993,168.044998,168.044998,3283258,NaN,False
2022-11-21 14:45:00-05:00,168.039993,169.029999,167.919998,168.479996,168.479996,2644413,NaN,False
2022-11-21 15:00:00-05:00,168.451996,169.210007,168.279999,168.520004,168.520004,2480065,NaN,False
2022-11-21 15:15:00-05:00,168.539993,168.899994,167.850296,168.065002,168.065002,2579668,NaN,False
2022-11-21 15:30:00-05:00,168.080002,168.350006,167.580002,168.000000,168.000000,3902643,NaN,False
2022-11-21 15:45:00-05:00,167.990005,168.729996,167.774994,167.869995,167.869995,5097913,NaN,False
2022-11-22 09:30:00-05:00,168.630005,170.770004,166.270004,167.255707,167.255707,12589810,NaN,False
2022-11-22 09:45:00-05:00,167.240097,168.910004,166.184998,166.789993,166.789993,6109641,NaN,False
2022-11-22 10:00:00-05:00,166.800003,170.919998,166.529999,170.434601,170.434601,7200479,NaN,True
2022-11-22 10:15:00-05:00,170.440002,170.580002,168.759995,168.869995,168.869995,4240827,NaN,False

In [9]:
df['wf_Top']=np.where(df['High']==df['High'].rolling(9,center=True).max(),df['High'],None)
df

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top
Datetime,,,,,,,,,
2022-11-21 09:30:00-05:00,175.850006,176.770004,173.229996,174.759995,174.759995,10001911,NaN,False,None
2022-11-21 09:45:00-05:00,174.779999,176.630005,173.836197,174.111694,174.111694,5554627,NaN,False,None
2022-11-21 10:00:00-05:00,174.125000,174.289993,173.399994,173.692398,173.692398,3833172,NaN,False,None
2022-11-21 10:15:00-05:00,173.675003,174.279999,173.009995,173.010101,173.010101,3366669,NaN,False,None
2022-11-21 10:30:00-05:00,173.050003,173.320007,171.110001,171.250000,171.250000,4565326,NaN,False,None
...,...,...,...,...,...,...,...,...,...
2023-01-18 15:00:00-05:00,128.565002,129.130005,128.089996,128.770004,128.770004,4743832,123.370364,True,129.130005
2023-01-18 15:15:00-05:00,128.751801,128.990005,128.500000,128.659607,128.659607,3686286,123.422994,False,None
2023-01-18 15:30:00-05:00,128.649994,128.729996,127.970100,128.260101,128.260101,4357102,123.471124,False,None
2023-01-18 15:45:00-05:00,128.279007,128.929993,128.100006,128.750000,128.750000,6449599,123.523650,False,None
2023-01-18 16:00:00-05:00,128.779999,128.779999,128.779999,128.779999,128.779999,0,123.575952,False,None

In [10]:
df['wf_Top']=df['wf_Top'].ffill()

In [11]:
df

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top
Datetime,,,,,,,,,
2022-11-21 09:30:00-05:00,175.850006,176.770004,173.229996,174.759995,174.759995,10001911,NaN,False,NaN
2022-11-21 09:45:00-05:00,174.779999,176.630005,173.836197,174.111694,174.111694,5554627,NaN,False,NaN
2022-11-21 10:00:00-05:00,174.125000,174.289993,173.399994,173.692398,173.692398,3833172,NaN,False,NaN
2022-11-21 10:15:00-05:00,173.675003,174.279999,173.009995,173.010101,173.010101,3366669,NaN,False,NaN
2022-11-21 10:30:00-05:00,173.050003,173.320007,171.110001,171.250000,171.250000,4565326,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...
2023-01-18 15:00:00-05:00,128.565002,129.130005,128.089996,128.770004,128.770004,4743832,123.370364,True,129.130005
2023-01-18 15:15:00-05:00,128.751801,128.990005,128.500000,128.659607,128.659607,3686286,123.422994,False,129.130005
2023-01-18 15:30:00-05:00,128.649994,128.729996,127.970100,128.260101,128.260101,4357102,123.471124,False,129.130005
2023-01-18 15:45:00-05:00,128.279007,128.929993,128.100006,128.750000,128.750000,6449599,123.523650,False,129.130005
2023-01-18 16:00:00-05:00,128.779999,128.779999,128.779999,128.779999,128.779999,0,123.575952,False,129.130005

In [12]:
df.dropna(inplace=True)

In [13]:
df

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top
Datetime,,,,,,,,,
2022-12-02 10:00:00-05:00,193.118103,196.250000,192.610107,195.740097,195.740097,5132592,183.885397,True,196.250000
2022-12-02 10:15:00-05:00,195.740005,196.160004,194.509995,195.296295,195.296295,3729196,183.998938,False,196.250000
2022-12-02 10:30:00-05:00,195.318497,195.440002,193.450195,193.979294,193.979294,3066045,184.098245,False,196.250000
2022-12-02 10:45:00-05:00,193.919998,194.274399,192.559998,192.589996,192.589996,2810947,184.182740,False,196.250000
2022-12-02 11:00:00-05:00,192.572998,193.143707,191.710007,192.047394,192.047394,2992876,184.260995,False,196.250000
...,...,...,...,...,...,...,...,...,...
2023-01-18 15:00:00-05:00,128.565002,129.130005,128.089996,128.770004,128.770004,4743832,123.370364,True,129.130005
2023-01-18 15:15:00-05:00,128.751801,128.990005,128.500000,128.659607,128.659607,3686286,123.422994,False,129.130005
2023-01-18 15:30:00-05:00,128.649994,128.729996,127.970100,128.260101,128.260101,4357102,123.471124,False,129.130005
2023-01-18 15:45:00-05:00,128.279007,128.929993,128.100006,128.750000,128.750000,6449599,123.523650,False,129.130005
2023-01-18 16:00:00-05:00,128.779999,128.779999,128.779999,128.779999,128.779999,0,123.575952,False,129.130005

In [14]:
df['Buy']=np.where((df.Close > df.wf_Top) & (df.Close>df.EMA200),1,0)

In [15]:
df

,Open,High,Low,Close,Adj Close,Volume,EMA200,wf_Top_bool,wf_Top,Buy
Datetime,,,,,,,,,,
2022-12-02 10:00:00-05:00,193.118103,196.250000,192.610107,195.740097,195.740097,5132592,183.885397,True,196.250000,0
2022-12-02 10:15:00-05:00,195.740005,196.160004,194.509995,195.296295,195.296295,3729196,183.998938,False,196.250000,0
2022-12-02 10:30:00-05:00,195.318497,195.440002,193.450195,193.979294,193.979294,3066045,184.098245,False,196.250000,0
2022-12-02 10:45:00-05:00,193.919998,194.274399,192.559998,192.589996,192.589996,2810947,184.182740,False,196.250000,0
2022-12-02 11:00:00-05:00,192.572998,193.143707,191.710007,192.047394,192.047394,2992876,184.260995,False,196.250000,0
...,...,...,...,...,...,...,...,...,...,...
2023-01-18 15:00:00-05:00,128.565002,129.130005,128.089996,128.770004,128.770004,4743832,123.370364,True,129.130005,0
2023-01-18 15:15:00-05:00,128.751801,128.990005,128.500000,128.659607,128.659607,3686286,123.422994,False,129.130005,0
2023-01-18 15:30:00-05:00,128.649994,128.729996,127.970100,128.260101,128.260101,4357102,123.471124,False,129.130005,0
2023-01-18 15:45:00-05:00,128.279007,128.929993,128.100006,128.750000,128.750000,6449599,123.523650,False,129.130005,0
2023-01-18 16:00:00-05:00,128.779999,128.779999,128.779999,128.779999,128.779999,0,123.575952,False,129.130005,0

In [16]:
df['SL']=np.where(df.Buy==1,df.Close-(df.Close-df.Low),0)
df['TP']=np.where(df.Buy==1,df.Close+(df.Close-df.Low)*1.5,0)

In [17]:
buys,sell=[],[]

In [18]:
for i in range(len(df)):
    if df.Buy.iloc[i]:#if buy condition is True
        buys.append(df.iloc[i].name)
        for j in range(len(df)-i):
            if df.TP.iloc[i]<df.Close.iloc[i+j] or \
            df.SL.iloc[i]>df.Close.iloc[i+j]:
                sell.append(df.iloc[i+j].name)
                break

In [19]:
buys

[Timestamp('2022-12-09 10:30:00-0500', tz='America/New_York'),
 Timestamp('2022-12-09 10:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 09:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 10:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 10:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-10 15:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 09:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 10:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 15:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 15:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-12 13:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-12 14:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-12 14:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 15:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 15:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 15:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 15:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 09:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 13:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 13:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 15:45:00-0500', tz='America/New_York')]

In [20]:
sell

[Timestamp('2022-12-09 13:00:00-0500', tz='America/New_York'),
 Timestamp('2022-12-09 13:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 13:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-10 09:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 10:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-09 15:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 10:00:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 10:15:00-0500', tz='America/New_York'),
 Timestamp('2023-01-11 12:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-12 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-12 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-12 14:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-13 15:45:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-17 12:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-18 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-18 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-18 09:30:00-0500', tz='America/New_York'),
 Timestamp('2023-01-18 09:30:00-0500', tz='America/New_York')]

In [21]:
frame=pd.DataFrame([buys,sell])
frame

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,2022-12-09 10:30:00-05:00,2022-12-09 10:45:00-05:00,2023-01-09 09:30:00-05:00,2023-01-09 09:45:00-05:00,2023-01-09 10:00:00-05:00,2023-01-09 10:15:00-05:00,2023-01-10 15:45:00-05:00,2023-01-11 09:30:00-05:00,2023-01-11 09:45:00-05:00,2023-01-11 10:00:00-05:00,...,2023-01-12 14:15:00-05:00,2023-01-13 15:00:00-05:00,2023-01-13 15:15:00-05:00,2023-01-13 15:30:00-05:00,2023-01-13 15:45:00-05:00,2023-01-17 09:30:00-05:00,2023-01-17 09:45:00-05:00,2023-01-17 13:00:00-05:00,2023-01-17 13:30:00-05:00,2023-01-17 15:45:00-05:00
1,2022-12-09 13:00:00-05:00,2022-12-09 13:00:00-05:00,2023-01-09 13:15:00-05:00,2023-01-10 09:45:00-05:00,2023-01-09 10:15:00-05:00,2023-01-09 15:00:00-05:00,2023-01-11 09:30:00-05:00,2023-01-11 10:00:00-05:00,2023-01-11 10:15:00-05:00,2023-01-11 12:45:00-05:00,...,2023-01-12 14:30:00-05:00,2023-01-17 09:30:00-05:00,2023-01-17 09:30:00-05:00,2023-01-13 15:45:00-05:00,2023-01-17 09:30:00-05:00,2023-01-17 12:30:00-05:00,2023-01-18 09:30:00-05:00,2023-01-18 09:30:00-05:00,2023-01-18 09:30:00-05:00,2023-01-18 09:30:00-05:00

In [22]:
frame=frame.T
frame

                           0                         1
0  2022-12-09 10:30:00-05:00 2022-12-09 13:00:00-05:00
1  2022-12-09 10:45:00-05:00 2022-12-09 13:00:00-05:00
2  2023-01-09 09:30:00-05:00 2023-01-09 13:15:00-05:00
3  2023-01-09 09:45:00-05:00 2023-01-10 09:45:00-05:00
4  2023-01-09 10:00:00-05:00 2023-01-09 10:15:00-05:00
5  2023-01-09 10:15:00-05:00 2023-01-09 15:00:00-05:00
6  2023-01-10 15:45:00-05:00 2023-01-11 09:30:00-05:00
7  2023-01-11 09:30:00-05:00 2023-01-11 10:00:00-05:00
8  2023-01-11 09:45:00-05:00 2023-01-11 10:15:00-05:00
9  2023-01-11 10:00:00-05:00 2023-01-11 12:45:00-05:00
10 2023-01-11 15:15:00-05:00 2023-01-12 09:30:00-05:00
11 2023-01-11 15:30:00-05:00 2023-01-12 09:30:00-05:00
12 2023-01-12 13:45:00-05:00 2023-01-13 09:30:00-05:00
13 2023-01-12 14:00:00-05:00 2023-01-13 09:30:00-05:00
14 2023-01-12 14:15:00-05:00 2023-01-12 14:30:00-05:00
15 2023-01-13 15:00:00-05:00 2023-01-17 09:30:00-05:00
16 2023-01-13 15:15:00-05:00 2023-01-17 09:30:00-05:00
17 2023-01-13 15:30:00-05:00 2023-01-13 15:45:00-05:00
18 2023-01-13 15:45:00-05:00 2023-01-17 09:30:00-05:00
19 2023-01-17 09:30:00-05:00 2023-01-17 12:30:00-05:00
20 2023-01-17 09:45:00-05:00 2023-01-18 09:30:00-05:00
21 2023-01-17 13:00:00-05:00 2023-01-18 09:30:00-05:00
22 2023-01-17 13:30:00-05:00 2023-01-18 09:30:00-05:00
23 2023-01-17 15:45:00-05:00 2023-01-18 09:30:00-05:00

In [23]:
frame=frame.dropna()
frame

                           0                         1
0  2022-12-09 10:30:00-05:00 2022-12-09 13:00:00-05:00
1  2022-12-09 10:45:00-05:00 2022-12-09 13:00:00-05:00
2  2023-01-09 09:30:00-05:00 2023-01-09 13:15:00-05:00
3  2023-01-09 09:45:00-05:00 2023-01-10 09:45:00-05:00
4  2023-01-09 10:00:00-05:00 2023-01-09 10:15:00-05:00
5  2023-01-09 10:15:00-05:00 2023-01-09 15:00:00-05:00
6  2023-01-10 15:45:00-05:00 2023-01-11 09:30:00-05:00
7  2023-01-11 09:30:00-05:00 2023-01-11 10:00:00-05:00
8  2023-01-11 09:45:00-05:00 2023-01-11 10:15:00-05:00
9  2023-01-11 10:00:00-05:00 2023-01-11 12:45:00-05:00
10 2023-01-11 15:15:00-05:00 2023-01-12 09:30:00-05:00
11 2023-01-11 15:30:00-05:00 2023-01-12 09:30:00-05:00
12 2023-01-12 13:45:00-05:00 2023-01-13 09:30:00-05:00
13 2023-01-12 14:00:00-05:00 2023-01-13 09:30:00-05:00
14 2023-01-12 14:15:00-05:00 2023-01-12 14:30:00-05:00
15 2023-01-13 15:00:00-05:00 2023-01-17 09:30:00-05:00
16 2023-01-13 15:15:00-05:00 2023-01-17 09:30:00-05:00
17 2023-01-13 15:30:00-05:00 2023-01-13 15:45:00-05:00
18 2023-01-13 15:45:00-05:00 2023-01-17 09:30:00-05:00
19 2023-01-17 09:30:00-05:00 2023-01-17 12:30:00-05:00
20 2023-01-17 09:45:00-05:00 2023-01-18 09:30:00-05:00
21 2023-01-17 13:00:00-05:00 2023-01-18 09:30:00-05:00
22 2023-01-17 13:30:00-05:00 2023-01-18 09:30:00-05:00
23 2023-01-17 15:45:00-05:00 2023-01-18 09:30:00-05:00

In [24]:
frame.columns=['Buys','Sells']
frame

                        Buys                     Sells
0  2022-12-09 10:30:00-05:00 2022-12-09 13:00:00-05:00
1  2022-12-09 10:45:00-05:00 2022-12-09 13:00:00-05:00
2  2023-01-09 09:30:00-05:00 2023-01-09 13:15:00-05:00
3  2023-01-09 09:45:00-05:00 2023-01-10 09:45:00-05:00
4  2023-01-09 10:00:00-05:00 2023-01-09 10:15:00-05:00
5  2023-01-09 10:15:00-05:00 2023-01-09 15:00:00-05:00
6  2023-01-10 15:45:00-05:00 2023-01-11 09:30:00-05:00
7  2023-01-11 09:30:00-05:00 2023-01-11 10:00:00-05:00
8  2023-01-11 09:45:00-05:00 2023-01-11 10:15:00-05:00
9  2023-01-11 10:00:00-05:00 2023-01-11 12:45:00-05:00
10 2023-01-11 15:15:00-05:00 2023-01-12 09:30:00-05:00
11 2023-01-11 15:30:00-05:00 2023-01-12 09:30:00-05:00
12 2023-01-12 13:45:00-05:00 2023-01-13 09:30:00-05:00
13 2023-01-12 14:00:00-05:00 2023-01-13 09:30:00-05:00
14 2023-01-12 14:15:00-05:00 2023-01-12 14:30:00-05:00
15 2023-01-13 15:00:00-05:00 2023-01-17 09:30:00-05:00
16 2023-01-13 15:15:00-05:00 2023-01-17 09:30:00-05:00
17 2023-01-13 15:30:00-05:00 2023-01-13 15:45:00-05:00
18 2023-01-13 15:45:00-05:00 2023-01-17 09:30:00-05:00
19 2023-01-17 09:30:00-05:00 2023-01-17 12:30:00-05:00
20 2023-01-17 09:45:00-05:00 2023-01-18 09:30:00-05:00
21 2023-01-17 13:00:00-05:00 2023-01-18 09:30:00-05:00
22 2023-01-17 13:30:00-05:00 2023-01-18 09:30:00-05:00
23 2023-01-17 15:45:00-05:00 2023-01-18 09:30:00-05:00

In [25]:
actualtrades=frame[frame.Buys>frame.Sells.shift(1)]
actualtrades

                        Buys                     Sells
2  2023-01-09 09:30:00-05:00 2023-01-09 13:15:00-05:00
6  2023-01-10 15:45:00-05:00 2023-01-11 09:30:00-05:00
10 2023-01-11 15:15:00-05:00 2023-01-12 09:30:00-05:00
12 2023-01-12 13:45:00-05:00 2023-01-13 09:30:00-05:00
15 2023-01-13 15:00:00-05:00 2023-01-17 09:30:00-05:00

In [26]:
profits=(df.loc[actualtrades.Sells].Close.values-\
        df.loc[actualtrades.Buys].Close.values)/df.loc[actualtrades.Buys].Close.values

In [27]:
profits

array([ 0.03312003,  0.01931004, -0.04209571, -0.04994273,  0.04295413])

In [28]:
profits.mean()

0.0006691518777098878

In [29]:
(df.Close.pct_change()+1).cumprod()

Datetime
2022-12-02 10:00:00-05:00         NaN
2022-12-02 10:15:00-05:00    0.997733
2022-12-02 10:30:00-05:00    0.991004
2022-12-02 10:45:00-05:00    0.983907
2022-12-02 11:00:00-05:00    0.981135
                               ...
2023-01-18 15:00:00-05:00    0.657862
2023-01-18 15:15:00-05:00    0.657298
2023-01-18 15:30:00-05:00    0.655257
2023-01-18 15:45:00-05:00    0.657760
2023-01-18 16:00:00-05:00    0.657913
Name: Close, Length: 805, dtype: float64