In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
df=yf.download('AAPL',start='2023-02-02',interval='1H')
df.head(50)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
2023-02-01 12:30:00-05:00,141.951706,142.270004,141.839996,142.009995,142.009995,0
2023-02-01 13:30:00-05:00,142.020004,143.190002,141.520004,142.389999,142.389999,7713862
2023-02-01 14:30:00-05:00,142.389999,145.600006,141.320007,145.529999,145.529999,17228593
2023-02-01 15:30:00-05:00,145.535004,146.610001,145.130005,145.460007,145.460007,11475417
2023-02-02 09:30:00-05:00,148.899994,149.509995,148.169998,148.970001,148.970001,20864893
2023-02-02 10:30:00-05:00,148.979996,150.500000,148.940002,150.033997,150.033997,18836671
2023-02-02 11:30:00-05:00,150.039993,150.440002,149.429993,149.915604,149.915604,8783555
2023-02-02 12:30:00-05:00,149.919998,150.304993,149.630005,149.949997,149.949997,7965694
2023-02-02 13:30:00-05:00,149.949997,151.179993,149.912704,150.229996,150.229996,9743731
2023-02-02 14:30:00-05:00,150.229996,150.309998,148.720001,149.595001,149.595001,12655171
2023-02-02 15:30:00-05:00,149.595001,150.919998,149.460007,150.910004,150.910004,11000533
2023-02-03 09:30:00-05:00,148.029999,156.770004,147.830002,156.220001,156.220001,54883974
2023-02-03 10:30:00-05:00,156.225006,157.380005,155.304993,156.492096,156.492096,24235107
2023-02-03 11:30:00-05:00,156.500000,157.199997,155.490005,156.279999,156.279999,15694873
2023-02-03 12:30:00-05:00,156.289993,156.410004,154.264999,155.059998,155.059998,11647019
2023-02-03 13:30:00-05:00,155.029999,155.839996,154.389999,155.179993,155.179993,11586022
2023-02-03 14:30:00-05:00,155.177094,155.690002,154.089996,154.904999,154.904999,11381156
2023-02-03 15:30:00-05:00,154.899994,155.149994,154.300003,154.500000,154.500000,9470588
2023-02-06 09:30:00-05:00,152.574997,153.100006,151.339905,151.369995,151.369995,20867801
2023-02-06 10:30:00-05:00,151.380005,153.059998,150.899994,152.890106,152.890106,9330799
2023-02-06 11:30:00-05:00,152.899994,153.100006,151.809998,152.210007,152.210007,5735783
2023-02-06 12:30:00-05:00,152.200500,152.789993,151.800003,151.809998,151.809998,5495889
2023-02-06 13:30:00-05:00,151.815002,152.520004,151.585007,152.360001,152.360001,5410941
2023-02-06 14:30:00-05:00,152.360001,152.369995,150.975006,150.990005,150.990005,6877993
2023-02-06 15:30:00-05:00,150.990005,151.880005,150.779999,151.679993,151.679993,6625473
2023-02-07 09:30:00-05:00,150.639999,152.925003,150.639999,152.138397,152.138397,17771975
2023-02-07 10:30:00-05:00,152.135498,153.365005,152.100098,153.187393,153.187393,8491407
2023-02-07 11:30:00-05:00,153.190002,153.599899,152.520004,152.630005,152.630005,4700526
2023-02-07 12:30:00-05:00,152.630005,155.229996,152.380005,152.880005,152.880005,12540851
2023-02-07 13:30:00-05:00,152.880005,153.929993,151.360001,153.649994,153.649994,10254069
2023-02-07 14:30:00-05:00,153.679993,154.580002,153.429993,154.299805,154.299805,7891728
2023-02-07 15:30:00-05:00,154.294907,155.220001,154.070007,154.639999,154.639999,9987136
2023-02-08 09:30:00-05:00,153.880005,154.580002,152.760101,152.960007,152.960007,13451943
2023-02-08 10:30:00-05:00,152.949997,153.450195,151.710007,152.044998,152.044998,9540908
2023-02-08 11:30:00-05:00,152.039993,152.309998,151.460007,152.029999,152.029999,7178370
2023-02-08 12:30:00-05:00,152.035004,152.139999,151.167999,151.660004,151.660004,5053884
2023-02-08 13:30:00-05:00,151.660004,152.309998,151.220001,151.919998,151.919998,4939326
2023-02-08 14:30:00-05:00,151.921600,152.300003,151.565002,151.639999,151.639999,5550754
2023-02-08 15:30:00-05:00,151.639999,152.160004,151.490005,151.970001,151.970001,7809358
2023-02-09 09:30:00-05:00,153.774994,154.330002,152.649994,152.820007,152.820007,12097075
2023-02-09 10:30:00-05:00,152.820099,153.490005,152.600006,152.869995,152.869995,7669585
2023-02-09 11:30:00-05:00,152.889893,153.610001,152.729996,153.110001,153.110001,5297646
2023-02-09 12:30:00-05:00,153.112595,153.179993,152.100006,152.440002,152.440002,5059737
2023-02-09 13:30:00-05:00,152.464005,152.759995,151.860001,151.960007,151.960007,4075026
2023-02-09 14:30:00-05:00,151.949997,152.190002,150.889999,150.970001,150.970001,5347497
2023-02-09 15:30:00-05:00,150.960007,151.479996,150.419998,150.880005,150.880005,6910407
2023-02-10 09:30:00-05:00,149.460007,151.340103,149.220001,150.779999,150.779999,13142989
2023-02-10 10:30:00-05:00,150.779999,150.910004,150.000000,150.285400,150.285400,6544760
2023-02-10 11:30:00-05:00,150.300003,150.349899,149.429993,149.763000,149.763000,5297795
2023-02-10 12:30:00-05:00,149.759995,151.115005,149.699997,150.759995,150.759995,4795662

In [3]:
def get_levels(date):
    values=[-0.618,0.618,1.618]
    series_=df.loc[date:][1:2].squeeze()
    diff=series_.High-series_.Low
    levels=[series_.Close+i*diff for i in values]
    return levels

In [4]:
get_levels('2022-01-01')

[141.35794052124024, 143.42205825805664, 145.09205642700195]

In [5]:
df.index.date

array([datetime.date(2023, 2, 1), datetime.date(2023, 2, 1),
       datetime.date(2023, 2, 1), datetime.date(2023, 2, 1),
       datetime.date(2023, 2, 2), datetime.date(2023, 2, 2),
       datetime.date(2023, 2, 2), datetime.date(2023, 2, 2),
       datetime.date(2023, 2, 2), datetime.date(2023, 2, 2),
       datetime.date(2023, 2, 2), datetime.date(2023, 2, 3),
       datetime.date(2023, 2, 3), datetime.date(2023, 2, 3),
       datetime.date(2023, 2, 3), datetime.date(2023, 2, 3),
       datetime.date(2023, 2, 3), datetime.date(2023, 2, 3),
       datetime.date(2023, 2, 6), datetime.date(2023, 2, 6),
       datetime.date(2023, 2, 6), datetime.date(2023, 2, 6),
       datetime.date(2023, 2, 6), datetime.date(2023, 2, 6),
       datetime.date(2023, 2, 6), datetime.date(2023, 2, 7),
       datetime.date(2023, 2, 7), datetime.date(2023, 2, 7),
       datetime.date(2023, 2, 7), datetime.date(2023, 2, 7),
       datetime.date(2023, 2, 7), datetime.date(2023, 2, 7),
       datetime.date(2023, 2, 8), datetime.date(2023, 2, 8),
       datetime.date(2023, 2, 8), datetime.date(2023, 2, 8),
       datetime.date(2023, 2, 8), datetime.date(2023, 2, 8),
       datetime.date(2023, 2, 8), datetime.date(2023, 2, 9),
       datetime.date(2023, 2, 9), datetime.date(2023, 2, 9),
       datetime.date(2023, 2, 9), datetime.date(2023, 2, 9),
       datetime.date(2023, 2, 9), datetime.date(2023, 2, 9),
       datetime.date(2023, 2, 10), datetime.date(2023, 2, 10),
       datetime.date(2023, 2, 10), datetime.date(2023, 2, 10),
       datetime.date(2023, 2, 10), datetime.date(2023, 2, 10),
       datetime.date(2023, 2, 10), datetime.date(2023, 2, 13),
       datetime.date(2023, 2, 13), datetime.date(2023, 2, 13),
       datetime.date(2023, 2, 13), datetime.date(2023, 2, 13),
       datetime.date(2023, 2, 13), datetime.date(2023, 2, 13),
       datetime.date(2023, 2, 14), datetime.date(2023, 2, 14),
       datetime.date(2023, 2, 14), datetime.date(2023, 2, 14),
       datetime.date(2023, 2, 14), datetime.date(2023, 2, 14),
       datetime.date(2023, 2, 14), datetime.date(2023, 2, 15),
       datetime.date(2023, 2, 15), datetime.date(2023, 2, 15),
       datetime.date(2023, 2, 15), datetime.date(2023, 2, 15),
       datetime.date(2023, 2, 15), datetime.date(2023, 2, 15),
       datetime.date(2023, 2, 16), datetime.date(2023, 2, 16),
       datetime.date(2023, 2, 16), datetime.date(2023, 2, 16),
       datetime.date(2023, 2, 16), datetime.date(2023, 2, 16),
       datetime.date(2023, 2, 16), datetime.date(2023, 2, 17),
       datetime.date(2023, 2, 17), datetime.date(2023, 2, 17),
       datetime.date(2023, 2, 17), datetime.date(2023, 2, 17),
       datetime.date(2023, 2, 17), datetime.date(2023, 2, 17),
       datetime.date(2023, 2, 21), datetime.date(2023, 2, 21),
       datetime.date(2023, 2, 21), datetime.date(2023, 2, 21),
       datetime.date(2023, 2, 21), datetime.date(2023, 2, 21),
       datetime.date(2023, 2, 21), datetime.date(2023, 2, 22),
       datetime.date(2023, 2, 22), datetime.date(2023, 2, 22),
       datetime.date(2023, 2, 22), datetime.date(2023, 2, 22),
       datetime.date(2023, 2, 22), datetime.date(2023, 2, 22),
       datetime.date(2023, 2, 23), datetime.date(2023, 2, 23),
       datetime.date(2023, 2, 23), datetime.date(2023, 2, 23),
       datetime.date(2023, 2, 23), datetime.date(2023, 2, 23),
       datetime.date(2023, 2, 23), datetime.date(2023, 2, 24),
       datetime.date(2023, 2, 24), datetime.date(2023, 2, 24),
       datetime.date(2023, 2, 24), datetime.date(2023, 2, 24),
       datetime.date(2023, 2, 24), datetime.date(2023, 2, 24),
       datetime.date(2023, 2, 27), datetime.date(2023, 2, 27),
       datetime.date(2023, 2, 27), datetime.date(2023, 2, 27),
       datetime.date(2023, 2, 27), datetime.date(2023, 2, 27),
       datetime.date(2023, 2, 27), datetime.date(2023, 2, 28),
       datetime.date(2023, 2, 28), datetime.date(2023, 2, 28),
       datetime.date(2023, 2, 28), datetime.date(2023, 2, 28),
       datetime.date(2023, 2, 28), datetime.date(2023, 2, 28),
       datetime.date(2023, 3, 1), datetime.date(2023, 3, 1),
       datetime.date(2023, 3, 1), datetime.date(2023, 3, 1),
       datetime.date(2023, 3, 1), datetime.date(2023, 3, 1),
       datetime.date(2023, 3, 1), datetime.date(2023, 3, 2),
       datetime.date(2023, 3, 2), datetime.date(2023, 3, 2),
       datetime.date(2023, 3, 2), datetime.date(2023, 3, 2),
       datetime.date(2023, 3, 2), datetime.date(2023, 3, 2),
       datetime.date(2023, 3, 3), datetime.date(2023, 3, 3),
       datetime.date(2023, 3, 3), datetime.date(2023, 3, 3),
       datetime.date(2023, 3, 3), datetime.date(2023, 3, 3),
       datetime.date(2023, 3, 3), datetime.date(2023, 3, 3)], dtype=object)

In [6]:
dates=np.unique(df.index.date)
dates

array([datetime.date(2023, 2, 1), datetime.date(2023, 2, 2),
       datetime.date(2023, 2, 3), datetime.date(2023, 2, 6),
       datetime.date(2023, 2, 7), datetime.date(2023, 2, 8),
       datetime.date(2023, 2, 9), datetime.date(2023, 2, 10),
       datetime.date(2023, 2, 13), datetime.date(2023, 2, 14),
       datetime.date(2023, 2, 15), datetime.date(2023, 2, 16),
       datetime.date(2023, 2, 17), datetime.date(2023, 2, 21),
       datetime.date(2023, 2, 22), datetime.date(2023, 2, 23),
       datetime.date(2023, 2, 24), datetime.date(2023, 2, 27),
       datetime.date(2023, 2, 28), datetime.date(2023, 3, 1),
       datetime.date(2023, 3, 2), datetime.date(2023, 3, 3)], dtype=object)

In [7]:
Date='2022-01-01'
df[Date:][2:]

,Open,High,Low,Close,Adj Close,Volume
2023-02-01 14:30:00-05:00,142.389999,145.600006,141.320007,145.529999,145.529999,17228593
2023-02-01 15:30:00-05:00,145.535004,146.610001,145.130005,145.460007,145.460007,11475417
2023-02-02 09:30:00-05:00,148.899994,149.509995,148.169998,148.970001,148.970001,20864893
2023-02-02 10:30:00-05:00,148.979996,150.500000,148.940002,150.033997,150.033997,18836671
2023-02-02 11:30:00-05:00,150.039993,150.440002,149.429993,149.915604,149.915604,8783555
...,...,...,...,...,...,...
2023-03-03 12:30:00-05:00,149.914993,150.320007,149.600098,150.101395,150.101395,6588836
2023-03-03 13:30:00-05:00,150.104996,150.809998,149.910004,150.759995,150.759995,5696300
2023-03-03 14:30:00-05:00,150.759995,150.970001,150.620193,150.919998,150.919998,6227515
2023-03-03 15:30:00-05:00,150.910004,151.110001,150.529999,151.100006,151.100006,7447622
2023-03-03 16:00:00-05:00,151.029999,151.029999,151.029999,151.029999,151.029999,0

In [8]:
buys,sells=[],[]
trade_dates=[]
in_position=False
for date in dates:
    for index,row in df[date:][2:].iterrows():
        if not in_position:
            sl,entry,tp=get_levels(date)
            if row.Close>=entry:
                buys.append(row.Close)
                trade_dates.append(date)
                in_position=True
        elif in_position:
            if row.Close>=tp or row.Close <=sl:
                sells.append(row.Close)
                in_position=False
            break

C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """
C:\Users\nafissaad\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  """

In [9]:
trades=pd.DataFrame([buys,sells])

In [10]:
trades

,0,1,2,3,4,5,6,7,8,9
0,145.529999,156.220001,154.299805,154.069901,155.360001,150.149994,149.199997,148.960007,145.874100,150.101395
1,145.460007,156.492096,149.763000,151.889893,151.710007,148.110107,146.251007,146.419998,146.194199,NaN

In [11]:
trades.columns=trade_dates
trades=trades
trades.index=['Buy','Sell']
trades

,2023-02-01,2023-02-02,2023-02-06,2023-02-13,2023-02-15,2023-02-21,2023-02-23,2023-02-27,2023-03-02,2023-03-03
Buy,145.529999,156.220001,154.299805,154.069901,155.360001,150.149994,149.199997,148.960007,145.874100,150.101395
Sell,145.460007,156.492096,149.763000,151.889893,151.710007,148.110107,146.251007,146.419998,146.194199,NaN

In [12]:
trades=trades.T
trades

                   Buy        Sell
2023-02-01  145.529999  145.460007
2023-02-02  156.220001  156.492096
2023-02-06  154.299805  149.763000
2023-02-13  154.069901  151.889893
2023-02-15  155.360001  151.710007
2023-02-21  150.149994  148.110107
2023-02-23  149.199997  146.251007
2023-02-27  148.960007  146.419998
2023-03-02  145.874100  146.194199
2023-03-03  150.101395         NaN

In [13]:
trades['PnL']=trades.Sell-trades.Buy
trades['Pnl_rel']=trades.PnL/trades.Buy

In [14]:
(trades.Pnl_rel+1).cumprod()

2023-02-01    0.999519
2023-02-02    1.001260
2023-02-06    0.971820
2023-02-13    0.958070
2023-02-15    0.935561
2023-02-21    0.922851
2023-02-23    0.904610
2023-02-27    0.889185
2023-03-02    0.891136
2023-03-03         NaN
Name: Pnl_rel, dtype: float64

In [15]:
df

,Open,High,Low,Close,Adj Close,Volume
2023-02-01 12:30:00-05:00,141.951706,142.270004,141.839996,142.009995,142.009995,0
2023-02-01 13:30:00-05:00,142.020004,143.190002,141.520004,142.389999,142.389999,7713862
2023-02-01 14:30:00-05:00,142.389999,145.600006,141.320007,145.529999,145.529999,17228593
2023-02-01 15:30:00-05:00,145.535004,146.610001,145.130005,145.460007,145.460007,11475417
2023-02-02 09:30:00-05:00,148.899994,149.509995,148.169998,148.970001,148.970001,20864893
...,...,...,...,...,...,...
2023-03-03 12:30:00-05:00,149.914993,150.320007,149.600098,150.101395,150.101395,6588836
2023-03-03 13:30:00-05:00,150.104996,150.809998,149.910004,150.759995,150.759995,5696300
2023-03-03 14:30:00-05:00,150.759995,150.970001,150.620193,150.919998,150.919998,6227515
2023-03-03 15:30:00-05:00,150.910004,151.110001,150.529999,151.100006,151.100006,7447622
2023-03-03 16:00:00-05:00,151.029999,151.029999,151.029999,151.029999,151.029999,0

In [16]:
df1=df.resample('10D').first()
df

,Open,High,Low,Close,Adj Close,Volume
2023-02-01 12:30:00-05:00,141.951706,142.270004,141.839996,142.009995,142.009995,0
2023-02-01 13:30:00-05:00,142.020004,143.190002,141.520004,142.389999,142.389999,7713862
2023-02-01 14:30:00-05:00,142.389999,145.600006,141.320007,145.529999,145.529999,17228593
2023-02-01 15:30:00-05:00,145.535004,146.610001,145.130005,145.460007,145.460007,11475417
2023-02-02 09:30:00-05:00,148.899994,149.509995,148.169998,148.970001,148.970001,20864893
...,...,...,...,...,...,...
2023-03-03 12:30:00-05:00,149.914993,150.320007,149.600098,150.101395,150.101395,6588836
2023-03-03 13:30:00-05:00,150.104996,150.809998,149.910004,150.759995,150.759995,5696300
2023-03-03 14:30:00-05:00,150.759995,150.970001,150.620193,150.919998,150.919998,6227515
2023-03-03 15:30:00-05:00,150.910004,151.110001,150.529999,151.100006,151.100006,7447622
2023-03-03 16:00:00-05:00,151.029999,151.029999,151.029999,151.029999,151.029999,0