In [1]:
import random
import numpy as np
import yfinance as yf
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import norm
import math
import scipy.stats as stats
%matplotlib inline

In [2]:
df=yf.download('BLK',start='2017-08-31',end='2022-08-31')

[*********************100%***********************]  1 of 1 completed

In [3]:
df['Retuen']=df['Close'].pct_change()
df

,Open,High,Low,Close,Adj Close,Volume,Retuen
Date,,,,,,,
2017-08-30,414.760010,417.940002,413.920013,416.200012,354.451843,404800,NaN
2017-08-31,415.709991,420.279999,415.540009,419.010010,359.001373,501600,0.006752
2017-09-01,422.350006,424.279999,420.630005,421.779999,361.374756,441900,0.006611
2017-09-05,419.470001,421.489990,413.040009,413.649994,354.408997,615500,-0.019275
2017-09-06,415.380005,417.700012,411.890015,412.190002,353.158142,430000,-0.003530
...,...,...,...,...,...,...,...
2022-08-24,694.890015,704.320007,694.010010,700.419983,675.594543,386000,0.004950
2022-08-25,703.690002,711.890015,700.309998,710.599976,685.413757,363700,0.014534
2022-08-26,713.349976,714.270020,675.770020,676.440002,652.464478,633200,-0.048072
2022-08-29,671.950012,679.619995,670.150024,675.890015,651.934021,379500,-0.000813
2022-08-30,681.049988,681.659973,668.409973,672.719971,648.876343,486400,-0.004690

In [4]:
from scipy.stats import norm

In [5]:
Sample_size=len(df)
Confidence_alpha=0.05
Daily_return=((1+df['Retuen']).prod())**(1/Sample_size)-1
Volatility=df['Retuen'].std()
Var=norm.ppf(Confidence_alpha,Daily_return,Volatility)
Var

-0.0316442514032461

In [6]:
Daily_return+norm.ppf(Confidence_alpha)*Volatility

-0.0316442514032461

In [7]:
df['Violation']=[1 if v<Var else 0 for v in df['Retuen'].values]
df

,Open,High,Low,Close,Adj Close,Volume,Retuen,Violation
Date,,,,,,,,
2017-08-30,414.760010,417.940002,413.920013,416.200012,354.451843,404800,NaN,0
2017-08-31,415.709991,420.279999,415.540009,419.010010,359.001373,501600,0.006752,0
2017-09-01,422.350006,424.279999,420.630005,421.779999,361.374756,441900,0.006611,0
2017-09-05,419.470001,421.489990,413.040009,413.649994,354.408997,615500,-0.019275,0
2017-09-06,415.380005,417.700012,411.890015,412.190002,353.158142,430000,-0.003530,0
...,...,...,...,...,...,...,...,...
2022-08-24,694.890015,704.320007,694.010010,700.419983,675.594543,386000,0.004950,0
2022-08-25,703.690002,711.890015,700.309998,710.599976,685.413757,363700,0.014534,0
2022-08-26,713.349976,714.270020,675.770020,676.440002,652.464478,633200,-0.048072,1
2022-08-29,671.950012,679.619995,670.150024,675.890015,651.934021,379500,-0.000813,0
2022-08-30,681.049988,681.659973,668.409973,672.719971,648.876343,486400,-0.004690,0

In [8]:
proportion_of_violations=df['Violation'].sum()/Sample_size
proportion_of_violations

0.04130262112787927

In [9]:
difference=proportion_of_violations-Confidence_alpha
standard_error=math.sqrt((Confidence_alpha*(1-Confidence_alpha))/Sample_size)
z_stat=difference/standard_error
pvalue=2*(1-(stats.norm.cdf(abs(z_stat))))
pvalue#pvalue<5 means our var is significant at given cofident interval,we got enoght evidence
#it is over estimating or under estimating

0.1567839089889056