In [1]:
import random
import numpy as np
import yfinance as yf
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import norm
import math
import scipy.stats as stats
from scipy.stats import norm
from datetime import datetime, timedelta
import statsmodels.api as sm
import requests
%matplotlib inline

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Downloads\\NEDL_Anderson_Darling.xlsx',index_col='Date')[['S&P 500 return','Unnamed: 8']]
df.to_excel('C:\\Users\\nafissaad\\Downloads\\NEDL_Anderson_Darling.xlsx')
df

            S&P 500 return  Unnamed: 8
Date
2014-12-02        0.006384         NaN
2014-12-03        0.003765         NaN
2014-12-04       -0.001162         NaN
2014-12-05        0.001665         NaN
2014-12-08       -0.007257         NaN
...                    ...         ...
2019-11-22        0.002175         NaN
2019-11-25        0.007507         NaN
2019-11-26        0.002196         NaN
2019-11-27        0.004174         NaN
2019-11-29       -0.004011         NaN

[1258 rows x 2 columns]

In [3]:
number_of_observation=len(df)
mean=df['S&P 500 return'].mean()
standard_deviation=df['S&P 500 return'].std()
number_of_observation,mean,standard_deviation

(1258, 0.00037434340238909667, 0.008530000235635715)

In [4]:
df['Sorted']=df['S&P 500 return'].sort_values(ascending=True).values
df

            S&P 500 return  Unnamed: 8    Sorted
Date
2014-12-02        0.006384         NaN -0.040979
2014-12-03        0.003765         NaN -0.039414
2014-12-04       -0.001162         NaN -0.037536
2014-12-05        0.001665         NaN -0.035920
2014-12-08       -0.007257         NaN -0.032864
...                    ...         ...       ...
2019-11-22        0.002175         NaN  0.025083
2019-11-25        0.007507         NaN  0.027157
2019-11-26        0.002196         NaN  0.034336
2019-11-27        0.004174         NaN  0.039034
2019-11-29       -0.004011         NaN  0.049594

[1258 rows x 3 columns]

In [5]:
df['Rank']=[i for i in range(1,len(df)+1)]
df

            S&P 500 return  Unnamed: 8    Sorted  Rank
Date
2014-12-02        0.006384         NaN -0.040979     1
2014-12-03        0.003765         NaN -0.039414     2
2014-12-04       -0.001162         NaN -0.037536     3
2014-12-05        0.001665         NaN -0.035920     4
2014-12-08       -0.007257         NaN -0.032864     5
...                    ...         ...       ...   ...
2019-11-22        0.002175         NaN  0.025083  1254
2019-11-25        0.007507         NaN  0.027157  1255
2019-11-26        0.002196         NaN  0.034336  1256
2019-11-27        0.004174         NaN  0.039034  1257
2019-11-29       -0.004011         NaN  0.049594  1258

[1258 rows x 4 columns]

In [6]:
df['Emperical Distribution']=df['Rank']/len(df['S&P 500 return'])
df

            S&P 500 return  Unnamed: 8    Sorted  Rank  Emperical Distribution
Date
2014-12-02        0.006384         NaN -0.040979     1                0.000795
2014-12-03        0.003765         NaN -0.039414     2                0.001590
2014-12-04       -0.001162         NaN -0.037536     3                0.002385
2014-12-05        0.001665         NaN -0.035920     4                0.003180
2014-12-08       -0.007257         NaN -0.032864     5                0.003975
...                    ...         ...       ...   ...                     ...
2019-11-22        0.002175         NaN  0.025083  1254                0.996820
2019-11-25        0.007507         NaN  0.027157  1255                0.997615
2019-11-26        0.002196         NaN  0.034336  1256                0.998410
2019-11-27        0.004174         NaN  0.039034  1257                0.999205
2019-11-29       -0.004011         NaN  0.049594  1258                1.000000

[1258 rows x 5 columns]

In [7]:
n,minmax,mean,var,skew,kurt=stats.describe(df['S&P 500 return'])
mini,maxi=minmax
std=var**0.5#0.0002496130**0.5=0.015799145546516114
overly=np.linspace(mini,maxi,n)
df['Theoritical distribution']=norm.cdf(overly,mean,std)

In [8]:
df['Theoretical distribution (backwards)']=df['Theoritical distribution'][::-1].values
df

,S&P 500 return,Unnamed: 8,Sorted,Rank,Emperical Distribution,Theoritical distribution,Theoretical distribution (backwards)
Date,,,,,,,
2014-12-02,0.006384,NaN,-0.040979,1,0.000795,6.235080e-07,1.000000e+00
2014-12-03,0.003765,NaN,-0.039414,2,0.001590,6.506020e-07,1.000000e+00
2014-12-04,-0.001162,NaN,-0.037536,3,0.002385,6.788265e-07,1.000000e+00
2014-12-05,0.001665,NaN,-0.035920,4,0.003180,7.082266e-07,1.000000e+00
2014-12-08,-0.007257,NaN,-0.032864,5,0.003975,7.388492e-07,1.000000e+00
...,...,...,...,...,...,...,...
2019-11-22,0.002175,NaN,0.025083,1254,0.996820,1.000000e+00,7.388492e-07
2019-11-25,0.007507,NaN,0.027157,1255,0.997615,1.000000e+00,7.082266e-07
2019-11-26,0.002196,NaN,0.034336,1256,0.998410,1.000000e+00,6.788265e-07
2019-11-27,0.004174,NaN,0.039034,1257,0.999205,1.000000e+00,6.506020e-07
2019-11-29,-0.004011,NaN,0.049594,1258,1.000000,1.000000e+00,6.235080e-07

In [9]:
df['S']=(2*df['Rank']-1)/number_of_observation*(np.log(df['Theoritical distribution'])+np.log(1-df['Theoretical distribution (backwards)']))
df

,S&P 500 return,Unnamed: 8,Sorted,Rank,Emperical Distribution,Theoritical distribution,Theoretical distribution (backwards),S
Date,,,,,,,,
2014-12-02,0.006384,NaN,-0.040979,1,0.000795,6.235080e-07,1.000000e+00,-0.026737
2014-12-03,0.003765,NaN,-0.039414,2,0.001590,6.506020e-07,1.000000e+00,-0.079990
2014-12-04,-0.001162,NaN,-0.037536,3,0.002385,6.788265e-07,1.000000e+00,-0.132949
2014-12-05,0.001665,NaN,-0.035920,4,0.003180,7.082266e-07,1.000000e+00,-0.185614
2014-12-08,-0.007257,NaN,-0.032864,5,0.003975,7.388492e-07,1.000000e+00,-0.237987
...,...,...,...,...,...,...,...,...
2019-11-22,0.002175,NaN,0.025083,1254,0.996820,1.000000e+00,7.388492e-07,-0.000001
2019-11-25,0.007507,NaN,0.027157,1255,0.997615,1.000000e+00,7.082266e-07,-0.000001
2019-11-26,0.002196,NaN,0.034336,1256,0.998410,1.000000e+00,6.788265e-07,-0.000001
2019-11-27,0.004174,NaN,0.039034,1257,0.999205,1.000000e+00,6.506020e-07,-0.000001
2019-11-29,-0.004011,NaN,0.049594,1258,1.000000,1.000000e+00,6.235080e-07,-0.000001

In [10]:
S=sum(df['S'])
Anderson_Darling_squared=-number_of_observation-S
Anderson_Darling_Statistics=np.sqrt(Anderson_Darling_squared)
Anderson_Darling_Statistics

37.828183958026855

In [11]:
exponent=1.294+(-5.709)*Anderson_Darling_Statistics+0.019*Anderson_Darling_Statistics**2
exponent#ifExponend

-187.4786436866912

In [12]:
round(np.exp(-187.4786436866912),2)#Enogh evedence the deviation from teorictical distribution has been occured by any random chance

0.0

In [13]:
matric=pd.DataFrame(columns=[['AD>=0.6','AD>=0.34','AD>=0.2','AD<0.2']],index=[['a','b','c']])
matric.loc['a']=[1.294,0.918,-8.318,-13.436]
matric.loc['b']=[-5.709,-4.279,42.796,101.140]
matric.loc['c']=[0.019,-1.380,-59.938,-223.730]
matric

  AD>=0.6 AD>=0.34 AD>=0.2  AD<0.2
a   1.294    0.918  -8.318 -13.436
b  -5.709   -4.279  42.796  101.14
c   0.019    -1.38 -59.938 -223.73

In [14]:
#Anderson_Darling_Statistics>153.4 p_values is 0.0