In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_excel('C:\\Users\\nafissaad\\Tutorial\\Fundamental analysis\\Technical analysis\\NEDL_Information_Ratio.xlsx',index_col='Date')
df=df.rename(columns=df.iloc[0])
df=df[1:]
df=df.iloc[:,0:4]
df

                   SPY         BLK       SCHW         QQQ
Date
2015-12-31   183.89537  296.121826  30.819532  106.951714
2016-01-04  181.324615  289.669342  29.930412  104.695267
2016-01-05  181.631287  290.417236  29.836826  104.513603
2016-01-06  179.340149  287.112671  28.816687  103.509689
2016-01-07  175.037537  274.564056  27.309868  100.268433
...                ...         ...        ...         ...
2021-07-20  431.059998  878.840027  67.940002  358.790009
2021-07-21  434.549988  882.679993  69.559998  361.559998
2021-07-22  435.459991  866.859985      67.25  363.950012
2021-07-23  439.940002  868.950012  67.910004  368.200012
2021-07-26  441.019989   871.48999  68.040001   368.48999

[1401 rows x 4 columns]

In [3]:
returns=df.pct_change()
returns

                 SPY       BLK      SCHW       QQQ
Date
2015-12-31       NaN       NaN       NaN       NaN
2016-01-04 -0.013979 -0.021790 -0.028849 -0.021098
2016-01-05  0.001691  0.002582 -0.003127 -0.001735
2016-01-06 -0.012614 -0.011379 -0.034191 -0.009606
2016-01-07 -0.023991 -0.043706 -0.052290 -0.031314
...              ...       ...       ...       ...
2021-07-20  0.014330  0.039851  0.018896  0.011616
2021-07-21  0.008096  0.004369  0.023845  0.007720
2021-07-22  0.002094 -0.017923 -0.033209  0.006610
2021-07-23  0.010288  0.002411  0.009814  0.011677
2021-07-26  0.002455  0.002923  0.001914  0.000788

[1401 rows x 4 columns]

In [4]:
out_performance=returns.sub(returns['SPY'],axis=0)
out_performance

            SPY       BLK      SCHW       QQQ
Date
2015-12-31  NaN       NaN       NaN       NaN
2016-01-04  0.0 -0.007811 -0.014870 -0.007118
2016-01-05  0.0  0.000891 -0.004818 -0.003426
2016-01-06  0.0  0.001236 -0.021576  0.003009
2016-01-07  0.0 -0.019715 -0.028298 -0.007322
...         ...       ...       ...       ...
2021-07-20  0.0  0.025520  0.004566 -0.002714
2021-07-21  0.0 -0.003727  0.015748 -0.000376
2021-07-22  0.0 -0.020017 -0.035303  0.004516
2021-07-23  0.0 -0.007877 -0.000474  0.001389
2021-07-26  0.0  0.000468 -0.000541 -0.001667

[1401 rows x 4 columns]

In [5]:
matrix=pd.DataFrame(columns=[returns.columns],index=['Annualised return','Outperformance','Tracking error','Information Ratio'])
matrix.loc['Annualised return','SPY']=np.prod(1+returns['SPY'])**(252/1400)-1
matrix.loc['Annualised return','BLK']=np.prod(1+returns['BLK'])**(252/1400)-1
matrix.loc['Annualised return','SCHW']=np.prod(1+returns['SCHW'])**(252/1400)-1
matrix.loc['Annualised return','QQQ']=np.prod(1+returns['QQQ'])**(252/1400)-1
matrix.loc['Outperformance','BLK']=matrix.loc['Annualised return','BLK'][0]-matrix.loc['Annualised return','SPY'][0]
matrix.loc['Outperformance','SCHW']=matrix.loc['Annualised return','SCHW'][0]-matrix.loc['Annualised return','SPY'][0]
matrix.loc['Outperformance','QQQ']=matrix.loc['Annualised return','QQQ'][0]-matrix.loc['Annualised return','SPY'][0]
matrix.loc['Tracking error','BLK']=out_performance['BLK'].std()*np.sqrt(252)
matrix.loc['Tracking error','SCHW']=out_performance['SCHW'].std()*np.sqrt(252)
matrix.loc['Tracking error','QQQ']=out_performance['QQQ'].std()*np.sqrt(252)
matrix.loc['Information Ratio','BLK']=matrix.loc['Outperformance','BLK'][0]/matrix.loc['Tracking error','BLK'][0]
matrix.loc['Information Ratio','SCHW']=matrix.loc['Outperformance','SCHW'][0]/matrix.loc['Tracking error','SCHW'][0]
matrix.loc['Information Ratio','QQQ']=matrix.loc['Outperformance','QQQ'][0]/matrix.loc['Tracking error','QQQ'][0]
matrix

                        SPY       BLK      SCHW       QQQ
Annualised return  0.170522  0.214458  0.153211  0.249404
Outperformance          NaN  0.043936 -0.017311  0.078881
Tracking error          NaN  0.173443  0.264266  0.087577
Information Ratio       NaN  0.253315 -0.065507  0.900708

In [6]:
#Information Ratio 0.5 is good....Information Ratio tells us the portfolio is outperforming the market with less deviation