In [1]:
#Description Get assets that gave a grater annualized return than the S&P500
#import the liberies 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import yfinance as yf

In [2]:
def get_historical_Data(tickers):
    """This function returns a pd dataframe with all of the adjusted closing information"""
    data = pd.DataFrame()
    names = list()
    for i in tickers:
        data = pd.concat([data, pd.DataFrame(yf.download(i, start=datetime(2020, 4, 24), end=datetime(2022, 12, 21)).iloc[:,4])], axis = 1)
        names.append(i)
    data.columns = names
    return data

ticks = ["DPZ", "AAPL", "GOOG", "AMD", "GME", "SPY", "NFLX", "BA", "WMT","TWTR","GS","XOM","NKE", "Meta","BRK-B", "MSFT"] #Name of company (Dominos pizza)
d = get_historical_Data(ticks)
print(d.shape)
# Most Recent Data
d.tail()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
(672, 16)

,DPZ,AAPL,GOOG,AMD,GME,SPY,NFLX,BA,WMT,TWTR,GS,XOM,NKE,Meta,BRK-B,MSFT
Date,,,,,,,,,,,,,,,,
2022-12-14,366.739990,143.210007,95.309998,68.930000,21.049999,397.574341,317.829987,188.250000,146.669998,NaN,360.380005,106.459999,111.449997,121.589996,309.290009,257.220001
2022-12-15,356.989990,136.500000,91.199997,66.529999,20.580000,387.848999,290.410004,183.720001,145.360001,NaN,349.829987,105.440002,108.510002,116.150002,301.910004,249.009995
2022-12-16,357.230011,134.509995,90.860001,65.410004,20.799999,383.269989,290.709991,184.699997,142.750000,NaN,346.350006,104.699997,105.949997,119.430000,300.000000,244.690002
2022-12-19,356.329987,132.369995,89.150002,64.589996,19.920000,380.019989,288.299988,185.679993,142.800003,NaN,344.609985,105.169998,103.050003,114.480003,300.029999,240.449997
2022-12-20,353.730011,132.300003,89.629997,65.050003,20.260000,380.540009,288.190002,188.289993,144.050003,NaN,344.489990,106.690002,103.209999,117.089996,302.000000,241.800003

In [3]:
d.isnull().sum()

DPZ       0
AAPL      0
GOOG      0
AMD       0
GME       0
SPY       0
NFLX      0
BA        0
WMT       0
TWTR     37
GS        0
XOM       0
NKE       0
Meta      0
BRK-B     0
MSFT      0
dtype: int64

In [4]:
d.dropna(axis=1,inplace=True)
d.isnull().sum()

DPZ      0
AAPL     0
GOOG     0
AMD      0
GME      0
SPY      0
NFLX     0
BA       0
WMT      0
GS       0
XOM      0
NKE      0
Meta     0
BRK-B    0
MSFT     0
dtype: int64

In [5]:
#Get the simple daily returns
daily_simple_returns=d.pct_change(
#Show the data
)
daily_simple_returns

,DPZ,AAPL,GOOG,AMD,GME,SPY,NFLX,BA,WMT,GS,XOM,NKE,Meta,BRK-B,MSFT
Date,,,,,,,,,,,,,,,
2020-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-24,-0.006357,0.028869,0.002351,0.005009,0.014894,0.013939,-0.004008,-0.063598,0.007080,0.011140,0.006444,0.011677,0.026684,0.004794,0.018259
2020-04-27,-0.014321,0.000707,-0.002681,0.005518,0.220126,0.014418,-0.008494,-0.002326,-0.008807,0.036949,0.004802,0.011316,-0.013521,0.005040,-0.002864
2020-04-28,-0.016629,-0.016209,-0.033083,-0.017348,-0.030928,-0.004599,-0.041649,0.020361,-0.002338,0.018906,0.023441,-0.006378,-0.024480,-0.001814,-0.024361
2020-04-29,0.016854,0.032845,0.087390,-0.033327,0.070922,0.026179,0.019959,0.058644,-0.034375,0.016149,0.055370,-0.008221,0.061670,0.013307,0.044874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-14,0.016548,-0.015536,-0.005634,-0.037962,0.002381,-0.006394,-0.007835,0.005985,-0.005560,-0.022539,-0.007366,-0.012406,0.011985,-0.009733,0.001168
2022-12-15,-0.026586,-0.046854,-0.043122,-0.034818,-0.022328,-0.024462,-0.086272,-0.024064,-0.008932,-0.029275,-0.009581,-0.026379,-0.044740,-0.023861,-0.031918
2022-12-16,0.000672,-0.014579,-0.003728,-0.016834,0.010690,-0.011806,0.001033,0.005334,-0.017955,-0.009948,-0.007018,-0.023592,0.028239,-0.006326,-0.017349
2022-12-19,-0.002519,-0.015910,-0.018820,-0.012536,-0.042308,-0.008480,-0.008290,0.005306,0.000350,-0.005024,0.004489,-0.027371,-0.041447,0.000100,-0.017328
2022-12-20,-0.007297,-0.000529,0.005384,0.007122,0.017068,0.001368,-0.000381,0.014056,0.008754,-0.000348,0.014453,0.001553,0.022799,0.006566,0.005614

In [6]:
#get and Show the annualized returns
annual_returns=daily_simple_returns.mean()*252
#show the data
annual_returns

DPZ      0.036555
AAPL     0.305516
GOOG     0.177240
AMD      0.194227
GME      2.507644
SPY      0.151110
NFLX    -0.007990
BA       0.236765
WMT      0.083620
GS       0.323876
XOM      0.463101
NKE      0.128145
Meta    -0.054208
BRK-B    0.203391
MSFT     0.181700
dtype: float64

In [7]:
#Show the annualized return for the S&P500
annual_returns['SPY']

0.15110969134876462

In [12]:
#show all assets that gave a higher annualized retrun than the s&p500
for i in range(0,len(annual_returns)):
    if annual_returns[i]>annual_returns['SPY']:
        print(annual_returns.index[i], ':',annual_returns[i])

AAPL : 0.30551554745609544
GOOG : 0.17724002249394274
AMD : 0.19422683040505512
GME : 2.5076444959147093
BA : 0.23676526021259858
GS : 0.3238760833149006
XOM : 0.46310088999501386
BRK-B : 0.20339070898414877
MSFT : 0.18169966162609522