In [1]:
# this program uses machine learning algorithme called decision Tree to predict if the price of a stock increase or decrease

In [2]:
#Import the liberires
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import yfinance as yf

In [3]:
df= yf.Ticker('AMZN').history(start='2010-01-01',end='2022-08-02')
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-12-31,6.854500,6.864000,6.726000,6.726000,90460000,0,0.0
2010-01-04,6.812500,6.830500,6.657000,6.695000,151998000,0,0.0
2010-01-05,6.671500,6.774000,6.590500,6.734500,177038000,0,0.0
2010-01-06,6.730000,6.736500,6.582500,6.612500,143576000,0,0.0
2010-01-07,6.600500,6.616000,6.440000,6.500000,220604000,0,0.0
...,...,...,...,...,...,...,...
2022-07-26,115.790001,118.150002,114.529999,114.809998,67075100,0,0.0
2022-07-27,117.309998,121.900002,117.160004,120.970001,61582000,0,0.0
2022-07-28,121.570000,122.839996,118.080002,122.279999,82245500,0,0.0
2022-07-29,134.899994,137.649994,132.410004,134.949997,148715600,0,0.0
2022-08-01,134.960007,138.830002,133.509995,135.389999,76771000,0,0.0

In [4]:
#Manipulate the data
#Create the target column
df['Price_up']=np.where(df['Close'].shift(-1)>df['Close'],1,0)
#show the data
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Price_up
Date,,,,,,,,
2009-12-31,6.854500,6.864000,6.726000,6.726000,90460000,0,0.0,0
2010-01-04,6.812500,6.830500,6.657000,6.695000,151998000,0,0.0,1
2010-01-05,6.671500,6.774000,6.590500,6.734500,177038000,0,0.0,0
2010-01-06,6.730000,6.736500,6.582500,6.612500,143576000,0,0.0,0
2010-01-07,6.600500,6.616000,6.440000,6.500000,220604000,0,0.0,1
...,...,...,...,...,...,...,...,...
2022-07-26,115.790001,118.150002,114.529999,114.809998,67075100,0,0.0,1
2022-07-27,117.309998,121.900002,117.160004,120.970001,61582000,0,0.0,1
2022-07-28,121.570000,122.839996,118.080002,122.279999,82245500,0,0.0,1
2022-07-29,134.899994,137.649994,132.410004,134.949997,148715600,0,0.0,1
2022-08-01,134.960007,138.830002,133.509995,135.389999,76771000,0,0.0,0

In [5]:
X=df.iloc[:,0:df.shape[1]-1].values
Y=df.iloc[:,df.shape[1]-1].values
X

array([[6.85449982e+00, 6.86399984e+00, 6.72599983e+00, ...,
        9.04600000e+07, 0.00000000e+00, 0.00000000e+00],
       [6.81250000e+00, 6.83050013e+00, 6.65700006e+00, ...,
        1.51998000e+08, 0.00000000e+00, 0.00000000e+00],
       [6.67150021e+00, 6.77400017e+00, 6.59049988e+00, ...,
        1.77038000e+08, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.21570000e+02, 1.22839996e+02, 1.18080002e+02, ...,
        8.22455000e+07, 0.00000000e+00, 0.00000000e+00],
       [1.34899994e+02, 1.37649994e+02, 1.32410004e+02, ...,
        1.48715600e+08, 0.00000000e+00, 0.00000000e+00],
       [1.34960007e+02, 1.38830002e+02, 1.33509995e+02, ...,
        7.67710000e+07, 0.00000000e+00, 0.00000000e+00]])

In [6]:
#Split the data again but this time into 80% training and 20% testing data sets
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [7]:
tree=DecisionTreeClassifier().fit(X_train,Y_train)
#show how well the model diid on the test data set
print(tree.score(X_test,Y_test))

0.5157728706624606

In [8]:
#show the actual values
Y_test

array([1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1])

In [9]:
tee_predictions=tree.predict(X_test)
print(tee_predictions)

[1 1 1 0 0 0 1 0 0 0 0 1 1 0 0 1 0 1 0 1 0 1 0 0 1 1 1 0 0 1 0 0 1 1 1 1 0
 1 1 0 1 0 0 1 1 1 0 1 0 0 1 0 1 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 0 0 1 0
 1 1 0 1 0 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 0 1 0 1 0 1 1 0 0 1 1 0 1 1 1 0
 1 0 1 1 1 1 0 0 1 1 0 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 1 1 1 1 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 1 1 1 0 1 0 1 0 0 0 1 1 0 1 1 1 1 0 0 0 1
 1 1 1 1 1 0 1 1 1 0 0 1 0 1 1 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 0 0 0 1 0 1 1
 0 1 1 0 0 1 0 1 1 1 0 1 0 1 1 0 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 1 0 0 0 0 0
 1 1 1 0 0 0 0 0 1 1 1 1 0 1 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0
 0 1 0 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 1 0 1 0 0 0 1
 0 1 0 0 0 0 1 1 1 1 0 1 1 0 1 0 0 0 1 1 1 1 1 0 1 0 1 0 1 0 0 0 0 0 1 0 1
 1 1 0 1 1 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 0 1 0 1 1 1 1 0 0 1 1 1 0 1 1 0 1
 0 0 0 0 1 1 0 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 1 0 0 1 1 0 1 1 0 1
 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 0 0 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0
 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 1 1 0 0 1 0 1 0 0 0 1 0 1 0 0 1 1 1 1 0 0
 0 1 1 1 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 0 0 0 1 1
 0 0 1 0 1 0 1 1 1 0 1 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 1 1
 1 0 1 1 0 1 1 0 0 0 1 1 0 1 1 1 1 0 0 0 1 1 0 0 1 0 1 1 1 0 1 1 1 1 1 0 1
 0 1 0 0 0]